<% @quizzes.each do |quiz| %>
  <h3><%= link_to quiz.title, new_quiz_attempt_path(quiz) %></h3>
  <%= link_to "Delete Quiz", delete_quiz_path(id: quiz.id), method: :delete %>
<% end %>

<% if @quizzes.empty? %>
  <h3>No quizzes yet</h3>
  <%= link_to "Create one", new_quiz_path %>
<% else %>
  <%= link_to "Create a quiz", new_quiz_path %>
<% end %>
