<h1><%= @quiz.title %></h1>

<%= link_to "Play quiz", new_quiz_attempt_path(@quiz)%>

<% @quiz.questions.each do |question| %>
  <%= question.query %>
  <% question.answers.each do |answer| %>
    <%= answer.response %>
  <% end %>
<% end %>
